<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js'></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=pt-BR"></script>
<script src="/assets/google_maps_api.js?body=1"></script>
<script src="/assets/google_maps_api.js"></script>

<div class="row">
  <div class="col-lg-4">
    <!-- Form to take origin and destination to trace route -->
    <%= simple_form_for @route,
                :url => url_for(:action => 'trace_route',
                                      :controller => 'routes'),
                :method => 'post' do |o| %>

          <div id="trace_route_form">

            <br>
            <span class="label label-primary">Origem</span>
            <div class="row">
              <div class="col-lg-6">
                <div class="input-group">
                  <div class="form-horizontal">
                    <%= o.input :origin, label: false,
                                        placeholder:'Informe uma origem',
                                        required: true,
                                        :pattern => '[a-zA-Z0-9 /\ãáàâéêíôóõúç~-,.:;ÃÁÀÂÉÊÍÔÓÕÚÇ]+',
                                        :input_html => {:size => 25} %>
                  </div>
                </div>
              </div>
            </div>
            <br>

            <span class="label label-primary">Destino</span>
            <div class="row">
              <div class="col-lg-6">
                <div class="input-group">
                  <div class="form-horizontal">
                    <%= o.input :destination, label: false,
                                        placeholder:'Informe um destino',
                                        required: true,
                                        :pattern => '[a-zA-Z0-9 /\ãáàâéêíôóõúç~-,.:;ÃÁÀÂÉÊÍÔÓÕÚÇ]+',
                                        :input_html => {:size => 25}%>
                  </div>
                </div>
              </div>
            </div>

            <br>
            <%= o.button :submit, "Traçar Rota Padrão", :class => "btn btn-default"%>
            
          </div>
    <% end %>
    <!-- End of origin and destination form -->
  </div>

  <div class="col-lg-8">
    <div class="page-header">
      <h2><i class="fa fa-road"></i>  Trace sua rota aqui <br>
        <small>Informe uma origem e um destino</small>
      </h2>
    </div>
  </div>

</div>

<br>
<br>
<button id="sinalizeAccidents" class = "btn btn-danger" data-container="body"
             data-toggle="popover" data-placement="right" data-trigger="hover" disabled="true"
             data-content="Será marcado no mapa os acidentes que aconteceram nas proximidades da sua rota.">
Sinalizar acidentes
</button>
<!-- <a href="#" class="btn btn-primary">Sinalizar acidentes</a> -->

<div class="row">
  <div class="col-lg-8">
    <!-- Instantiate the map on the screen -->
    <div style='width: 100%; height: 450px;'>
      <div id="directions" style='width: 100%; height: 100%;'>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <!-- Instantiate the directions (step by step) panel -->
    <div id="directionsPanel" style="float:right;width:100%;height 100%">
      <p><h4 id="distance"></h4></p>
    </div>
  </div>
</div>

<%= hidden_field_tag 'origin' , @origin_informed_by_user %>
<%= hidden_field_tag 'destination' , @destination_informed_by_user%>
<%= include_gon %>
