<div class="container">
<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js'></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=pt-BR"></script>
<script src="/assets/google_maps_api.js?body=1"></script>

<!-- Instantiate the map on the screen -->

<div style='width: 72%; height: 700px'>
<div style='width: 58%; height: 650px;'>
<div id="directions" style='width: 100%; height: 100%;'>
</div>
</div>


 
<!-- Form to take origin and destination to trace route -->
<%= simple_form_for @route, 
            :url => url_for(:action => 'trace_route', 
                            :controller => 'routes'),
            :method => 'post' do |o| %>

<div id="form"> 
  <br>
  <br>
  <br>
  <br>

  <span class="label label-primary">Origem</span>
  <div class="row">
    
    <div class="col-lg-6">
    <div class="input-group"> 
    <div class="form-horizontal">
      <%= o.input :origin, label: false,
                  placeholder:'Informe uma origem',
                  required: true,
                  :input_html => {:size => 25} %>
    </div>
    </div>
    </div>
  </div>
  <br>

  <span class="label label-primary">Destino</span>
  <div class="row">

    <div class="col-lg-6">
      <div class="input-group">
      <div class="form-horizontal">
        <%= o.input :destination, label: false,
                    placeholder:'Informe um destino',
                    required: true,
                    :pattern => '[a-zA-Z0-9 /\ãáàâéêíôóõúç~,.:;ÃÁÀÂÉÊÍÔÓÕÚÇ]+',
                    :input_html => {:size => 25}%>
    </div>
    </div>
    </div>
  </div>
  <br>

  <div>
    <%= o.button :submit, "Traçar Rota Padrão"%>
  </div>
</div>
</div>
<% end %>

<!-- End of origin and destination form -->
<%= hidden_field_tag 'origin' , @origin_informed_by_user %>
<%= hidden_field_tag 'destination' , @destination_informed_by_user%>

  <body>
        
    <div id="directionsPanel" style="float:right;width:25%;height 100%">
      <p><h4 id="distance"></h4></p>
    </div>

  </body>

</div>