<!-- Set the page title to "Rodovias" -->
<% content_for :title do %>Rodovias<% end %>

<br>
<div class="row container panel panel-default panel-body">
	<div class="container">

		<div class="panel-body">

			<div class="page-header">
			    <h1>Rodovias<br>
			    	<small>Pesquise aqui por uma rodovia federal</small>
			    </h1>
			</div>

			<!-- Search bar for a highway -->
			<%= simple_form_for @highways2 do |h|%>
				
				<br>
				<span class="label label-success">Pesquisar Rodovia</span>
				<div class="row">
					
					<div class="col-lg-6">
						
						<div class="input-group">
						
							<div class="form-horizontal">
								  <%= h.input :idBr, label: false,
								  					 placeholder:'Informe o número de uma rodovia para pesquisar',
								  			   		 required: true,
								  			   		 :input_html => {:size => 40, :maxlenght => 3} %>
							</div>

							<br>

						</div><!-- /input-group -->

					</div> <!-- /.col-lg-6 -->

				</div> <!-- /.row -->

				<div>
					<%= h.button :submit, "Pesquisar" %>
				</div>

			<% end %>
			<!-- End of search bar for a highway form -->

			<!-- Compare the highway informed by user with highways registered on DB -->
			<% @highways.each do |r| %>
				
				<% if r.idBr == @highwayInformedByUser %>
					<% if r.mileage.blank? == false %>
						
						<br>
						<br>
						<div class="container" style="width: 300px;">
							<div class="panel panel-success">
							  
								<div class="panel-heading">
									
									<h1 class="panel-title" style="text-align: center">
										<%= "BR-#{r.idBr} "%>
									</h1>

								 </div>
								  
								<div class="panel-body">
									
									<h3 style="text-align: center">
										<span class="label label-success" >
											<%= "Extensão total: #{r.mileage} Km" %>
										</span>
									</h3>

								</div>

							</div>
						</div>

					<% else %>

						<br>
						<br>
						<div class="container" style="width: 500px;">
							<div class="panel panel-danger">
							  
								<div class="panel-heading">
									
									<h1 class="panel-title" style="text-align: center">
										<%= "BR-#{r.idBr} "%>
									</h1>

								 </div>
								  
								<div class="panel-body">
																		
									<h3 style="text-align: center">
										<span class="label label-danger" >
											<%= "Extensão total: Sem informações no momento" %>
										</span>
									</h3>
								
								</div>

							</div>
						</div>

					<% end %>

			    <% end %>

			<% end %>

			<br>
		</div>

	</div>
</div>


