<%= render "form" %>

<br><br><br><br><br><br><br><br>
<div class="row container panel panel-default panel-body">
<div class="container">
<div class="panel panel-default">
<div class="panel-body">

	<div class="page-header">
		<h1>Importar Rodovias</h1>
	</div>

	<br>
	<%= form_tag import_highways_path, multipart: true do %>
		<%= file_field_tag :file %>
		<br>
		<%= submit_tag "Importar CSV" %>
	<% end %>

	<br>
	<%= link_to raw("<i class=\"icon-white icon-bullhorn\">Listar rodovias</i>"),
		highways_path,
		class: "btn btn-primary btn-small" %>

</div>
</div>
</div>
</div>



