<!-- Show the page of the highway clicked-->
<div id = "highway" class="page-header" align="center" >
  <div class="panel panel-success" style="width: 1100px;">
    <div class="panel-body">
      <% if @highway.idBr.length == 2%>
        <b>Rodovia 0<%= @highway.idBr%></b>
      <% else %>
        <b>Rodovia <%= @highway.idBr%>
      <% end %>
    </div>
  </div>
</div>
  <div class="panel panel-success" style="width: 300px;">
  <table class="table table-hover" align="left">
    <tr>
      <td style="text-align: center;"><b><%= "Entensão da rodovia"%></b></td>
      <td></td>
      <td style="text-align: center;">
        <% if @highway.mileage.blank? == false %>
          <%= "#{@highway.mileage} Km" %>
        <% else %>
          <%= "Sem informações no momento" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td style="text-align: center;"><b><%= "Posição no ranking"%></b></td>
      <td></td>
      <td style="text-align: center;">
        <%= "#{@highway.rankingPosition}º" %>
      </td>
      <td></td>
    </tr>       
  </table>
  </div>

  <div id = "comment">
    <!-- Mostrando os comentários da rodovia -->
    <% highway_found = false %>
    <% @comments.each do |comment| %>
      <% if(comment.idBr == @highway.idBr)%>
        <div class="panel panel-success"  id = "comment_panel">
          <div class="panel-heading" style="color:#fff;">
            <%= comment.title %></div>
          <div class="panel-body">
            <%= comment.text %>
          </div>
        </div> 
        <% highway_found = true %>
      <%end%>
    <%end%>

    <% if highway_found == false %>
      <br><br><br>
          <div id="comment_panel" class="alert alert-success" role="alert" style="text-align: center;">
            Ainda não há nenhum comentário sobre essa rodovia.
      </div>
    <%end%>
  </div>

  <!-- Formulário de comentário da rodovia-->
    <div id = "comment_form">
      <h7><i class="fa fa-comments-o"></i>Deixe aqui seu comentário sobre essa rodovia </h7>
    <%= form_for([@highway, @comment]) do |f| %>
     
      <%= f.text_field :title,     
                      placeholder: "Título",
                      required: true,
                      :pattern => '[a-zA-Z0-9 /\ãáàâéêíôóõúç~-,.:;ÃÁÀÂÉÊÍÔÓÕÚÇ]+'%><br />
      <%= f.text_area :text, 
                      placeholder: "Comentário",
                      required: true,
                      :pattern => '[a-zA-Z0-9 /\ãáàâéêíôóõúç~-,.:;ÃÁÀÂÉÊÍÔÓÕÚÇ]+'%><br />

      <%= f.hidden_field :idBr, value: @highway.idBr %>

      <%= f.submit "Comentar", :class => "btn btn-default"%>
    <% end %>
      
    </div>

