<ul class="nav navbar-nav">
    
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Acidentes', :accidents %></li>
  <li><%= link_to 'Rodovias', :highways %></li>
  <li><%= link_to 'Rotas', :routes %></li>

  <!-- Useless here -->
  <%= render 'layouts/navigation_links' %>

</ul>