<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Set the default page title as "Pé na estrada" -->
    <title><%= content_for?(:title) ? yield(:title) : "Pé na estrada" %></title>
    
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Pé na estrada" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <header class="navbar navbar-fixed-top">

      <nav class="navbar-inner">
        <div id="top-menu" class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    
    </header>
    
    <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>

  </body>
</html>
