<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Set the default page title as "Pé na estrada" -->
    <title><%= content_for?(:title) ? yield(:title) : "Pé na estrada" %></title>
    
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Pé na estrada" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Better Art Direction Styles -->
<!-- /*    <style type="text/css">
    .wp-polls .pollbar {
      margin: 13%;
      font-size: 100%;
      line-height: 100%;
      height: 100%;
      background-image: url('http://cdn.css-tricks.com/wp-content/plugins/wp-polls/images/default/pollbg.gif');
      border: 100% solid #ffffff;
    }
    </style>*/ -->

  </head>
  
<body>
<div class="panel-heading">
      <header class="navbar navbar-fixed-top">
            <div class="navbar navbar-inner ">
            
                <div class="navbar-header">
                      <%= link_to 'Pé na estrada', root_path, class: "navbar-brand" %>
                </div>

                <div class="navbar-collapse collapse navbar-responsive-collapse">
                      <ul class="nav navbar-nav">
                        
                            <li class="link "><%= link_to 'Traçar Rota', routes_path %></li>
                            <li class="link"><%= link_to 'Ranking', highway_path(1) %></li>
                            <li class="link "><%= link_to 'Rodovia', highways_path %></li>
                          
                      </ul>

                      <ul class="nav navbar-nav navbar-right">
                            <li class="link "><%= link_to 'ABOUT', home_path(1), class: "navbar-brand" %></li>
                      </ul>
                </div>

            </div>
      </header>
</div>

<div id="main_panel" class="panel panel-default container" style="width: 70%;  border: 1px solid #d4d4d4;">
  
      <div class="panel-body">
          <div id = "content" >
                  <main role="main">
                        
                        <%= render 'layouts/messages' %>
                        <%= yield %>

                  </main>
            </div>
      </div>


<!--   <div class="panel-footer">Panel footer</div> -->

</div>


</body>
</html>
